// ==========================================================================
// Placeholders
// ==========================================================================

%menu {
  border: 1px solid #242942;
  width: 25px;
  transition: all 0.4s ease-in-out;
}
